@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

@import "tailwindcss";



.configuratore-block {
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*BODY*/
  min-width: 320px;
  min-height: 100vh;
  background-color: #F9FAFC;
}

.configuratore-block .scroll-container2 {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
}


.configuratore-block .scroll-container2::-webkit-scrollbar {
  width: 8px;
}

.configuratore-block .scroll-container2::-webkit-scrollbar-track {
  background: transparent;
}

.configuratore-block .scroll-container2::-webkit-scrollbar-thumb {
  background: #d0d0d9;
  border-radius: 4px;
}

.configuratore-block .scroll-container2::-webkit-scrollbar-thumb:hover {
  background: #aaaab4;
  cursor: pointer;
}



.configuratore-block .scroll-container {
  direction: rtl;
  padding: 10px;
  overflow-y: scroll;
  /* Sposta la barra di scorrimento a sinistra */
}

.configuratore-block .scroll-container>* {
  direction: ltr;
  /* Mantiene il contenuto nella direzione normale */
}

/* Aggiungi questo codice al tuo file CSS */
.configuratore-block .scroll-container::-webkit-scrollbar {
  width: 4px;
  margin-right: 5px;
  /* Larghezza della barra */
}

.configuratore-block .scroll-container::-webkit-scrollbar-thumb {
  background-color: #cecedb6d;
  border-radius: 8px;
  cursor: pointer;
}

.configuratore-block .scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8c58e;
}

.configuratore-block .scroll-container::-webkit-scrollbar-track {
  background-color: FCF9ED;
  /* Colore dello sfondo della barra */
}

.configuratore-block .inputTitolo {
  box-shadow: none !important;
  outline: none !important;
}

/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F9FAFC;
}

html,
body {
  overflow: overlay;
}*/

@layer utilities {
  .configuratore-block .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .configuratore-block .custom-scrollbar::-webkit-scrollbar-track {
    background: none;
  }

  .configuratore-block .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #6982ab6a;
    border-radius: 10px;
  }

  .configuratore-block .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6982abb9;
  }
}



.configuratore-block input[type="date"]::-webkit-calendar-picker-indicator {
  color: #495057;
  /* Cambia il colore dell'icona */
  opacity: 1;
  /* Assicurati che l'icona sia visibile */
}

.configuratore-block input[type="date"] {
  color-scheme: light;
  /* Assicura che il tema sia coerente */
}

.configuratore-block input:focus,
.configuratore-block textarea:focus {
  outline: none;
  border-color: #a6a6a6;
  box-shadow: 0 0 4px 2px rgba(184, 184, 184, 0.1);
}